<div class="side-bar-header">
  <div class="header-title">
    Child Calendar
  </div>
</div>

<div class="rooms">
  <% current_user.chat_rooms.each do |chat| %>
    <div class="room">
      <div class="room-name">
        <%= link_to chat_room.name, chat_room_messages_path(chat_room) %>
      </div>
    </div>
  <% end %>
</div>

<div class="side-bar-footer">
  <div class="create-room">
    <%= link_to "チャットを作成する", new_chat_room_path %>
  </div>
</div>