<div class="calendar-header"> <%#chat-header%>
  <div class="left-header">
    <div class="header-title">
      Child Calendar
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ログアウト</a>
    </div>
  </div>
</div>

<div class="schedule"> <%#messages%>
</div>