<div class="side-header"> <%#side-bar-header%>
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
</div>

<div class="children">
  <div class="child"">
    <div class="child-name">
      <a href="#">calendar1</a>
    </div>
  </div>
  <div class="child">
    <div class="child-name">
      <a href="#">calendar2</a>
    </div>
  </div>
</div>

<div class="side-footer">
  <div class="create-calendar">
    <a href="#">カレンダー作成</a>
  </div>
</div>