<div class="side-header"> <%#side-bar-header%>
  <div class="header-title">
    Child Calendar
  </div>
</div>


<div class="children">
  <% current_user.calendar_rooms.each do |calendar| %>
    <div class="child">
      <div class="child-name">
        <%#= link_to calendar_room.child_name, root_path(current_user) %> さん
      </div>
    </div>
  <% end %>
</div>

<div class="side-footer">
    <div class="create-calendar">
      <%= link_to "カレンダーを作成する", new_calendar_room_path %>
    </div>
</div>