.wrapper {
  display: flex;
}

.side {
  background-color: #f7e75c;
  width: 250px;
  height: 100vh;
}

.header-title a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.side-header {
  height: 50px;
  padding: 0 20px;
  background-color: #f7e75c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.children {
  background-color: #fcca41;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.child {
  padding: 20px 0 40px;
}

.child-name a {
  text-decoration: none;
  color: black;
}

.side-footer {
  background-color: #abfc41;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-calendar {
  font-size: 10px;
}

.create-calendar a {
  border: 1px solid black;
  padding: 14px;
  color: black;
  text-decoration: none;
}

.main {
  background-color: #ffffff;
  width: calc(100% - 100px);
}

.calendar-header {
  background-color: antiquewhite;
  height: 50px;
  padding: 0 10px 0 25px;
  display: flex;
  justify-content: space-between;
}

.header-name {
  font-size: 24px;
  color: black;
  margin-top: 10px;
}

.right-header {
  display: flex;
}

.header-button {
  margin: 13px 15px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 10px;
}

.calendar {
  background-color: #FAFAFA;
  height: calc(100vh - 50px);
}
